.DS_Store
Thumbs.db
.vscode/
.idea/
.ipynb_checkpoints/
__pycache__/
node_modules/
*.tfstate
*.tfstate.backup
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.secrets.json
.env
